<ion-text id="open-modal" class="red" style="font-size: small;">Syarat dan Ketentuan Pengguna
  Aplikasi</ion-text>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<ion-modal #modal trigger="open-modal" class="modalTermAndCond">
  <ng-template>
    <ion-content style="background-color: var(--ion-color-meds-pink);">
      <div class="ion-padding" style="background-color: transparent;">
        <p class="ion-text-center red12">Syarat dan Ketentuan Penggunaan Aplikasi MEDS Manual
        </p>
        <p style="font-size: 10.5px;">
          Terima kasih telah menggunakan Aplikasi MEDS Manual. Sebelum melanjutkan, harap
          perhatikan syarat dan ketentuan penggunaan di bawah ini:</p>
        <ion-text style="font-size: 10.5px; font-weight: 700; ">1. Penerimaan Ketentuan</ion-text>
        <p style="font-size: 10.5px; margin-top: 0px;">
          Dengan mengakses atau menggunakan Aplikasi MEDS Manual, Anda secara tegas setuju untuk terikat dengan
          syarat dan ketentuan yang ditetapkan pada aplikasi MEDS Manual.Jika Anda tidak menyetujui syarat dan
          ketentuan ini, harap berhenti menggunakan Aplikasi MEDS Manual.</p>
        <ion-text style="font-size: 10.5px; font-weight: 700; ">2. Penggunaan Aplikasi</ion-text>
        <p style="font-size: 10.5px; margin-top: 0px;">
          Aplikasi MEDS Manual disediakan untuk tujuan informasi dan referensi medis bagi dokter, tenaga kesehatan
          dan mahasiswa. Akses aplikasi untuk kalangan non-medis tidak di perkenankan.
          Penggunaan Aplikasi ini tidak dimaksudkan sebagai pengganti saran medis atau profesional, melainkan hanya
          untuk menyediakan referensi medis bagi rekan-rekan tenaga kesehatan. Anda bertanggung jawab penuh atas
          keputusan dan tindakan yang Anda ambil berdasarkan informasi yang diberikan melalui Aplikasi MEDS Manual.
        </p>
        <ion-text style="font-size: 10.5px; font-weight: 700; ">3. Penyebarluasan konten</ion-text>
        <p style="font-size: 10.5px; margin-top: 0px;">
          Pengguna tidak diperkenankan membuat, memperbanyak, menyebarluaskan konten aplikasi baik melalui tangkapan
          layar, atau dalam metode lain untuk di publikasi pada media sosial jenis apapun.</p>
        <ion-text style="font-size: 10.5px; font-weight: 700; ">4. Privasi Pengguna</ion-text>
        <p style="font-size: 10.5px; margin-top: 0px;">
          Kami menghormati privasi pengguna kami. Informasi yang Anda berikan melalui Aplikasi MEDSmanual akan
          sepenuhnya hanya digunakan untuk keperluan konfirmasi identitas pengguna aplikasi sesuai dengan
          kebijakan
          privasi yang berlaku.</p>
        <ion-text style="font-size: 10.5px; font-weight: 700; ">5. Keterbatasan Tanggung Jawab</ion-text>
        <p style="font-size: 10.5px; margin-top: 0px;">
          Aplikasi MEDS Manual disediakan “apa adanya” dan “seperti yang tersedia” tanpa jaminan apapun, baik
          tersurat maupun tersirat.Kami tidak bertanggung jawab atas kerugian atau kerusakan apa pun yang timbul
          akibat penggunaan Aplikasi ini.</p>
        <ion-text style="font-size: 10.5px; font-weight: 700; ">6. Perubahan Syarat dan Ketentuan</ion-text>
        <p style="font-size: 10.5px; margin-top: 0px;">
          Kami berhak untuk mengubah syarat dan ketentuan ini tanpa pemberitahuan sebelumnya.Dianjurkan untuk
          secara berkala memeriksa halaman syarat dan ketentuan untuk memperbarui diri dengan perubahan yang mungkin
          terjadi.Harap dicatat bahwa penggunaan Aplikasi MEDSmanual dianggap sebagai penerimaan langsung atas
          syarat dan ketentuan yang ditetapkan di atas. Jika Anda tidak setuju dengan syarat dan ketentuan ini,
          harap berhenti menggunakan Aplikasi MEDS Manual.</p>
        <p style="font-size: 10.5px;">
          Jika Anda memiliki pertanyaan lebih lanjut mengenai syarat dan ketentuan ini, silakan hubungi kami melalui
          informasi kontak yang tersedia di Aplikasi MEDS Manual</p>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->