<ion-content>
  <div class="flexContainer">
    <comp-header [title]="title!" [defaultHref]="defaultHref!"></comp-header>
    <div class="ion-text-center">
      <ion-searchbar mode="ios" show-cancel-button="focus" placeholder="Search"
        style="padding: 0px 5%;"></ion-searchbar>
    </div>
    <hr style="height: 10px;" class="ion-no-padding ion-no-margin">

    <div class="scrollYnew">
      <div *ngFor="let x of datas" style="padding: 0px 10%;">
        <p *ngIf="IsText(x.type)" class="text">{{x.data}}</p>
        <p *ngIf="IsSub(x.type)" class="sub">{{x.data}}</p>
        <p *ngIf="IsSubSub(x.type)" class="subsub">{{x.data}}</p>
        <img *ngIf="IsImg(x.type)" [src]="x.data" button (click)="ViewImage(x.data)">
        <p *ngIf="IsRef(x.type)" class="ref">{{x.data}}</p>
        <div *ngIf="IsBtn(x.type)">
          <ion-list *ngIf="!IsWithImage(x)" [inset]="true" mode="ios">
            <ion-item color="meds-red" button (click)="BtnThru(x)" lines="none">
              <ion-label>{{x.title}}</ion-label>
            </ion-item>
          </ion-list>
          <div *ngIf="IsWithImage(x)" style="width: 100%;" button (click)="BtnThru(x)" class="ion-text-center">
            <img src="{{x.image}}"> <br>
            <ion-label color="meds-red">{{x.title}}</ion-label>
            <hr style="height: 20px;">
          </div>
        </div>
        <audio *ngIf="IsAudio(x.type)" [src]="x.data" controls></audio>
      </div>
    </div>
    <hr style="height: 20px;" class="ion-no-padding ion-no-margin">
  </div>
</ion-content>