<ion-content>
  <ion-row class="header ion-align-items-center">
    <ion-back-button class="buttonBack" text="Master Data" defaultHref="tabs/profil/admin/master"
      mode="ios"></ion-back-button>
  </ion-row>
  <div class="ion-text-center">
    <ion-item color="meds-pink" lines="none">{{title}}</ion-item>

    <hr style="height: 16px;" class="ion-no-padding ion-no-margin">

    <ion-list [inset]="true" mode="ios">
      <ion-item color="meds-red" button>
        <ion-input label="Urut" labelPlacement="floating" placeholder="Masukkan angka" [(ngModel)]="id"></ion-input>
      </ion-item>
      <ion-item color="meds-red" button id="open-action-sheet">
        <ion-input label="Tipe" labelPlacement="floating" [(ngModel)]="typeString" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item color="meds-red" button>
        <ion-textarea *ngIf="!isImg" label="Data" labelPlacement="floating" placeholder="Ketik disini" [autoGrow]="true"
          [(ngModel)]="data"></ion-textarea>
        <ion-textarea *ngIf="isImg" label="Data" labelPlacement="floating" [autoGrow]="true" [(ngModel)]="data"
          [readonly]="true" (click)="ChangeImage()"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-action-sheet trigger="open-action-sheet" [buttons]="actionSheetButtons" (didDismiss)="GetType($event)"
      mode="ios"></ion-action-sheet>

    <ion-list [inset]="true" mode="ios">
      <ion-item color="meds-red" button (click)="CreateEdit()" lines="none">
        <ion-label *ngIf="IsCreate()">Tambah Data</ion-label>
        <ion-label *ngIf="!IsCreate()">Perbarui Data</ion-label>
      </ion-item>
    </ion-list>

  </div>
  <hr style="height: 20px;" class="ion-no-padding ion-no-margin">
</ion-content>