<ion-tabs (ionTabsDidChange)="setIcon($event)">
  <ion-tab-bar slot="bottom" style="padding: 5px 10px;">
    <ion-tab-button tab="asesmen">
      <!-- <ion-icon aria-hidden="true" src="assets/icon/asesmen.svg"></ion-icon> -->
      <ion-icon aria-hidden="true" [src]="iconAsesmen"></ion-icon>
      <ion-label>Asesmen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="penunjang">
      <ion-icon aria-hidden="true" [src]="iconPenunjang"></ion-icon>
      <ion-label>Penunjang</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="panduan">
      <ion-icon aria-hidden="true" [src]="iconPanduan"></ion-icon>
      <ion-label>Panduan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="obat">
      <ion-icon aria-hidden="true" [src]="iconObat"></ion-icon>
      <ion-label>Obat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon aria-hidden="true" [src]="iconProfil"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>