.flexContainer {
    display: flex;
    flex-flow: column;
    // height: calc(100vh - 82px);
    height: 100%;
  
    ::-webkit-scrollbar {
      display: none;
    }
  
    .scrollYnew{
        overflow: auto;
        flex-grow: 1 !important;
    }
}

ion-button{
    --border-radius: 30px;
}

.text{
    text-align: justify;
    font-size: 0.85em;
}

.sub{
    font-weight: 700;
}

.subsub{
    font-weight: 700;
    font-size: 0.85em;
}

.img{
    font-size: 0.85em;
}

.ref{
    margin: 0px;
    text-align: justify;
    font-size: 0.8em;
}