<ion-content>
  <ion-row class="header ion-align-items-center">
    <ion-back-button class="buttonBack" text="Admin" defaultHref="tabs/profil" mode="ios"></ion-back-button>
  </ion-row>
  <div class="ion-text-center">
    <!-- <ion-searchbar mode="ios" show-cancel-button="focus" placeholder="Search" style="padding: 0px 5%;"></ion-searchbar> -->
    <hr style="height: 10px;" class="ion-no-padding ion-no-margin">
    <!-- <div *ngFor="let x of triaseDataList" style="padding: 0px 10%;">
      <ion-button expand="full" style="min-height: 48px;" (click)="TriaseChild(x)">{{x.title}}</ion-button>
      <ion-button expand="full" style="min-height: 48px;" (click)="TriaseChild(x)">{{x.title}}</ion-button>
      <hr style="height: 16px;">
    </div> -->

    <ion-accordion-group mode="md" expand="inset">
      <ion-accordion value="asesmen">
        <ion-item slot="header" color="meds-pink">
          <ion-label>Asesmen</ion-label>
        </ion-item>
        <ion-item slot="content" class="item" button (click)="Master(data.triase)">Triase</ion-item>
        <ion-item slot="content" class="item" button (click)="Master(data.surveiPrimer)">Survei Primer</ion-item>
        <ion-item slot="content" class="item" button (click)="Master(data.surveiSekunder)">Survei Sekunder</ion-item>
        <ion-item slot="content" class="item" button (click)="Master(data.tandaVital)">Tanda Vital</ion-item>
      </ion-accordion>
      <ion-accordion value="penunjang">
        <ion-item slot="header" color="meds-pink">
          <ion-label>Penunjang</ion-label>
        </ion-item>
        <ion-item slot="content" class="item" button (click)="Master(data.radioimaging)">Radioimaging</ion-item>
        <ion-item slot="content" class="item" button (click)="MasterChild(data.nilaiNormalLab)">Nilai Normal Laboratorium</ion-item>
        <ion-item slot="content" class="item" button (click)="Master(data.ekg)">Elektrokardiografi</ion-item>
      </ion-accordion>
      <ion-accordion value="panduan">
        <ion-item slot="header" color="meds-pink">
          <ion-label>Panduan</ion-label>
        </ion-item>
        <ion-item slot="content" class="item" button>Panduan Kasus</ion-item>
        <ion-item slot="content" class="item" button>Panduan Tindakan</ion-item>
        <ion-item slot="content" class="item" button>Pengukuran</ion-item>
      </ion-accordion>
      <ion-accordion value="obat">
        <ion-item slot="header" color="meds-pink">
          <ion-label>Obat</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Daftar Obat</div>
      </ion-accordion>
      <ion-accordion value="user">
        <ion-item slot="header" color="meds-pink">
          <ion-label>User</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Daftar User</div>
      </ion-accordion>
    </ion-accordion-group>

    <div class=" footer">
      <img src="../../../assets/images/undraw_warning_re_eoyh.png">
    </div>

  </div>
</ion-content>