<ion-content>
  <ion-row class="header ion-align-items-center">
    <ion-back-button class="buttonBack" text="Admin" defaultHref="tabs/profil" mode="ios"></ion-back-button>
  </ion-row>
  <div class="ion-text-center">
    <hr style="height: 10px;" class="ion-no-padding ion-no-margin">

    <ion-accordion-group mode="md" expand="inset">
      <ion-accordion value="asesmen">
        <ion-item slot="header" color="meds-pink">
          <ion-label>Asesmen</ion-label>
        </ion-item>
        <ion-item slot="content" class="item" button
          (click)="Master(tabs.triase, titles.triase)">{{titles.triase}}</ion-item>
        <ion-item slot="content" class="item" button
          (click)="Master(tabs.surveiPrimer, titles.surveiPrimer)">{{titles.surveiPrimer}}</ion-item>
        <ion-item slot="content" class="item" button
          (click)="Master(tabs.surveiSekunder, titles.surveiSekunder)">{{titles.surveiSekunder}}</ion-item>
        <ion-item slot="content" class="item" button
          (click)="Master(tabs.tandaVital, titles.tandaVital)">{{titles.tandaVital}}</ion-item>
      </ion-accordion>
      <ion-accordion value="penunjang">
        <ion-item slot="header" color="meds-pink">
          <ion-label>Penunjang</ion-label>
        </ion-item>
        <ion-item slot="content" class="item" button
          (click)="Master(tabs.radioimaging, titles.radioimaging)">{{titles.radioimaging}}</ion-item>
        <ion-item slot="content" class="item" button
          (click)="Master(tabs.nilaiNormalLab, titles.nilaiNormalLab)">{{titles.nilaiNormalLab}}</ion-item>
        <ion-item slot="content" class="item" button (click)="Master(tabs.ekg, titles.ekg)">{{titles.ekg}}</ion-item>
      </ion-accordion>
      <ion-accordion value="panduan">
        <ion-item slot="header" color="meds-pink">
          <ion-label>Panduan</ion-label>
        </ion-item>
        <ion-item slot="content" class="item" button
          (click)="Master(tabs.panduanKasus, titles.panduanKasus)">{{titles.panduanKasus}}</ion-item>
        <ion-item slot="content" class="item" button
          (click)="Master(tabs.panduanTindakan, titles.panduanTindakan)">{{titles.panduanTindakan}}</ion-item>
        <ion-item slot="content" class="item" button
          (click)="Master(tabs.pengukuran, titles.pengukuran)">{{titles.pengukuran}}</ion-item>
      </ion-accordion>
      <ion-accordion value="obat">
        <ion-item slot="header" color="meds-pink">
          <ion-label>Obat</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" button (click)="Master(tabs.obat, titles.obat)">
          {{titles.obat}}</div>
      </ion-accordion>
      <ion-accordion value="user">
        <ion-item slot="header" color="meds-pink">
          <ion-label>User</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Daftar User</div>
      </ion-accordion>
    </ion-accordion-group>

    <div class=" footer">
      <img src="../../../assets/images/undraw_warning_re_eoyh.png">
    </div>

  </div>
</ion-content>