<ion-content>
  <div class="ion-text-center">
    <ion-row class="header ion-align-items-center">
      <ion-col>
        <ion-text>MEDS Manual</ion-text>
      </ion-col>
    </ion-row>

    <ion-searchbar mode="ios" show-cancel-button="focus" placeholder="Search" style="padding: 0px 5%;"></ion-searchbar>

    <hr style="height: 50px;" class="ion-no-padding ion-no-margin">
    <ion-text>PENUNJANG</ion-text>
    <div class="ion-padding red09">
      <ion-row>
        <ion-col button (click)="Radioimaging()">
          <img src="../../../assets/images/radioimaging.png">
          <ion-text>RADIOIMAGING</ion-text>
        </ion-col>
        <ion-col button (click)="NilaiNormalLab()">
          <img src="../../../assets/images/nilai-normal-lab.png">
          <ion-text>NILAI NORMAL LABORATORIUM</ion-text>
        </ion-col>
      </ion-row>
      <hr style="height: 20px;" class="ion-no-padding ion-no-margin">

      <ion-row>
        <ion-col size="6" button (click)="EKG()">
          <img src="../../../assets/images/elektrokardiografi.png">
          <ion-text>ELEKTROKARDIOGRAFI</ion-text>
        </ion-col>
      </ion-row>
    </div>

    <div class=" footer">
      <img src="../../../assets/images/undraw_scientist_ft0o (2).png">
    </div>

  </div>
</ion-content>