ion-row.header {
    background-color: var(--ion-color-meds-red);
    height: 100px;
    color: #fff;
    font-size: 1.8em;
    font-weight: 700;
}

.footer {
    width: 100%;
    margin-bottom: 30px;
    position: absolute;
    bottom: 0px;
}