<ion-content>
  <div class="ion-text-center">
    <ion-row class="header ion-align-items-center">
      <ion-col>
        <ion-text>MEDS Manual</ion-text>
      </ion-col>
    </ion-row>

    <ion-searchbar mode="ios" show-cancel-button="focus" placeholder="Search" style="padding: 0px 5%;"></ion-searchbar>

    <hr style="height: 50px;" class="ion-no-padding ion-no-margin">
    <ion-text>PANDUAN</ion-text>
    <div class="ion-padding red09">
      <ion-row>
        <ion-col button (click)="PanduanKasus()">
          <img src="../../../assets/images/panduan-kasus.png">
          <ion-text>PANDUAN KASUS</ion-text>
        </ion-col>
        <ion-col>
          <img src="../../../assets/images/panduan-tindakan.png">
          <ion-text>PANDUAN TINDAKAN</ion-text>
        </ion-col>
      </ion-row>
      <hr style="height: 20px;" class="ion-no-padding ion-no-margin">

      <ion-row>
        <ion-col size="6">
          <img src="../../../assets/images/pengukuran.png">
          <ion-text>PENGUKURAN</ion-text>
        </ion-col>
      </ion-row>
    </div>

    <div class=" footer">
      <img src="../../../assets/images/undraw_doctor_kw-5-l (1).png">
    </div>

  </div>
</ion-content>