<ion-content [fullscreen]="true">

  <div class="ion-text-center">
    <img src="../../../assets/images/medsmanual-logo.png"> <br>
    <ion-text class="red" style="font-weight: 700;">MEDS Manual - REGISTER</ion-text>

    <div style="padding: 0px 10%;">
      <div class="avatar ion-padding">
        <ion-avatar (click)="ChangeImage()">
          <img *ngIf="photoImg; else placeholder_avatar" src="{{ photoImg }}">

          <ng-template #placeholder_avatar>
            <div class="preview">
              <img style="padding-top: 10px;" src="../../../assets/images/gallery.png"> <br>
              <ion-text style="font-size: small; color: grey;">Foto</ion-text> <br>
              <ion-text style="font-size: small; color: grey;">Profil</ion-text>
            </div>
          </ng-template>
        </ion-avatar>
      </div>

      <ion-item class="border" lines="none" color="meds-pink">
        <ion-input aria-label="Email" placeholder="Email" type="email" class="form" style="color: grey;"
          [(ngModel)]="email"></ion-input>
        <ion-icon style="margin-right: 12px;" name="mail" slot="end"></ion-icon>
      </ion-item>
      <hr style="height: 12px;" class="ion-no-padding ion-no-margin">
      <ion-item class="border" lines="none" color="meds-pink">
        <ion-input aria-label="Password" placeholder="Password" type="password" class="form" style="color: grey;"
          [(ngModel)]="password"></ion-input>
        <ion-icon style="margin-right: 12px;" name="key" slot="end"></ion-icon>
      </ion-item>
      <hr style="height: 12px;" class="ion-no-padding ion-no-margin">
      <ion-item class="border" lines="none" color="meds-pink">
        <ion-input aria-label="Nama Lengkap" placeholder="Nama Lengkap" class="form" style="color: grey;"
          [(ngModel)]="nama" (ionInput)="onInputName($event)" #ionInputElName></ion-input>
        <ion-icon style="margin-right: 12px;" name="person" slot="end"></ion-icon>
      </ion-item>
      <hr style="height: 12px;" class="ion-no-padding ion-no-margin">
      <ion-item class="border" lines="none" color="meds-pink">
        <ion-input aria-label="Tanggal Lahir" placeholder="Tanggal Lahir (mm/dd/yyyy)" [maskito]="tglLahirMask"
          [maskitoElement]="maskPredicate" class="form" style="color: grey;" [(ngModel)]="tglLahir"
          (ionChange)="onChangeTglLahir()"></ion-input>
        <ion-icon style="margin-right: 12px;" name="calendar" slot="end"></ion-icon>
      </ion-item>
      <hr style="height: 12px;" class="ion-no-padding ion-no-margin">
      <ion-item class="border" lines="none" color="meds-pink">
        <ion-select mode="ios" [(ngModel)]="profesi" label="Profesi" interface="action-sheet" class="always-flip"
          toggleIcon="caret-down" style="margin: 0px 12px; color: grey;">
          <!-- <ion-select-option *ngFor="let x of pekerjaanDataList" [value]="x.md_pekerjaan_id">{{x.md_pekerjaan_name}}
            </ion-select-option> -->
          <ion-select-option value="Dokter">Dokter</ion-select-option>
          <ion-select-option value="Perawat">Perawat</ion-select-option>
          <ion-select-option value="Bidan">Bidan</ion-select-option>
          <ion-select-option value="Tenaga Kesehatan Lain">Tenaga Kesehatan Lain</ion-select-option>
          <ion-select-option value="Mahasiswa Kesehatan">Mahasiswa Kesehatan</ion-select-option>
        </ion-select>
        <!-- <ion-icon name="caret-down" slot="end"></ion-icon> -->
      </ion-item>
      <hr style="height: 12px;" class="ion-no-padding ion-no-margin">
      <ion-item class="border" lines="none" color="meds-pink">
        <ion-input aria-label="Foto Ijazah/STR/Kartu Mahasiswa" placeholder="Foto Ijazah/STR/Kartu Mahasiswa"
          class="form" style="color: grey;" [(ngModel)]="lampiranString" [readonly]="true" (click)="EditLampiran()"></ion-input>
        <ion-icon style="margin-right: 12px;" name="images" slot="end"></ion-icon>
      </ion-item>
    </div>

    <hr style="height: 10px;" class="ion-no-padding ion-no-margin">
    <comp-term-and-cond></comp-term-and-cond>
    <hr style="height: 4px;" class="ion-no-padding ion-no-margin">
  </div>

  <div (click)="toggleIAgree()">
    <ion-row>
      <ion-col size="2.5" style="padding: 6px 10px 0px 0px; font-size: 20px;" class="ion-text-end">
        <ion-icon name="{{iconIAgree}}"></ion-icon>
      </ion-col>
      <ion-col size="9.5" style="padding-right: 15px;">
        <ion-text style="font-size: small;">Dengan ini saya menyatakan bahwa saya sudah membaca dan mengerti syarat dan
          ketentuan penggunaan aplikasi dan setuju</ion-text>
      </ion-col>
    </ion-row>
  </div>
  <hr style="height: 4px;" class="ion-no-padding ion-no-margin">

  <div class="ion-text-center">
    <ion-row class="ion-justify-content-center ion-no-margin ion-no-padding">
      <ion-col size="5">
        <div class="button ion-activatable" button (click)="RegisterWithDBWP()">
          <ion-ripple-effect class="ripple-effect"></ion-ripple-effect>
          <ion-text>Daftar</ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-text class="fz09">Sudah ada akun?</ion-text>
    <span>&nbsp;</span>
    <ion-text class="red09" (click)="Login()">Masuk Sekarang</ion-text>
  </div>

  <div class="ion-text-center footer">
    <ion-text class="red">Meds Manual 2023</ion-text>
  </div>

</ion-content>