<ion-content>
  <div class="flexContainer" [class.focusSearch]="isFocusSearch">
    <comp-header [title]="title!" [defaultHref]="defaultHref!"></comp-header>
    <div class="scrollYnew">
      <comp-search (callParent)="getEventOutput($event)"></comp-search>
    </div>

    <hr style="height: 10px;" class="ion-no-padding ion-no-margin">

    <div *ngIf="!isFocusSearch" class="scrollYnew">
      <comp-content [datas]="datas!" [defaultHref]="defaultHref!"></comp-content>
    </div>

    <hr style="height: 20px;" class="ion-no-padding ion-no-margin">
  </div>
</ion-content>