/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.fz09 {
    font-size: 0.9em;
}

.red {
    color: var(--ion-color-meds-red);
}

.red09 {
    color: var(--ion-color-meds-red);
    font-size: 0.9em;
}

.red10 {
    color: var(--ion-color-meds-red);
    font-size: 10px;
}

.red11 {
    color: var(--ion-color-meds-red);
    font-size: 11px;
}

.red12 {
    color: var(--ion-color-meds-red);
    font-size: 12px;
}

.flexContainer {
    display: flex;
    flex-flow: column;
    // height: calc(100vh - 82px);
    height: 100%;

    ::-webkit-scrollbar {
        display: none;
    }

    .scrollYnew0 {
        overflow: auto;
        flex-grow: 1 !important;
        height: 0px;
    }

    .scrollYnew {
        overflow: auto;
        flex-grow: 1 !important;
    }

    .scrollYnew2 {
        overflow: auto;
        flex-grow: 1 !important;
        height: calc(100vh - 390px)
    }

    .scrollYnew3 {
        overflow: auto;
        flex-grow: 1 !important;
        height: calc(100vh - 130px)
    }
}

.focusSearch {
    background-color: var(--ion-color-light); // lightgrey

    ion-searchbar {
        --background: #fff;
        --color: #19422d;
        --placeholder-color: #19422d;
        --icon-color: #19422d;
        --clear-button-color: #19422d;

        --cancel-button-color: #19422d;
    }
}

/*#region  Style Content*/

// .text {
//     margin-bottom: 0px;
//     text-align: justify;
//     font-size: 0.85em;
// }

// .textWithMargin {
//     text-align: justify;
//     font-size: 0.85em;
// }

// .textWithoutMargin {
//     margin-top: 0px;
//     margin-bottom: 0px;
//     text-align: justify;
//     font-size: 0.85em;
// }

// .sub {
//     font-weight: 700;
// }

// .subWithoutMargin {
//     margin-bottom: 0px;
//     font-weight: 700;
// }

// .subsub {
//     font-weight: 700;
//     font-size: 0.85em;
// }

// .subsubWithoutMargin {
//     margin-bottom: 0px;
//     font-weight: 700;
//     font-size: 0.85em;
// }

// .img {
//     font-size: 0.85em;
// }

// .ref {
//     margin: 0px;
//     // text-align: justify;
//     font-size: 0.8em;
// }

// .numbering0 {
//     margin-top: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering1 {
//     margin-left: 10px;
//     margin-top: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering2 {
//     margin-left: 20px;
//     margin-top: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering3 {
//     margin-left: 30px;
//     margin-top: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering4 {
//     margin-left: 40px;
//     margin-top: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering5 {
//     margin-left: 50px;
//     margin-top: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering6 {
//     margin-left: 60px;
//     margin-top: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering0WithoutMargin {
//     margin-top: 0px;
//     margin-bottom: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering1WithoutMargin {
//     margin-left: 10px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering2WithoutMargin {
//     margin-left: 20px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering3WithoutMargin {
//     margin-left: 30px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering4WithoutMargin {
//     margin-left: 40px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering5WithoutMargin {
//     margin-left: 50px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

// .numbering6WithoutMargin {
//     margin-left: 60px;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     // text-align: justify;
//     font-size: 0.85em;
// }

.text {
    text-align: justify;
    font-size: 0.85em;
}

.textWithMargin {
    text-align: justify;
    font-size: 0.85em;
}

.textWithoutMargin {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    font-size: 0.85em;
}

.sub {
    font-weight: 700;
}

.subWithoutMargin {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

.subsub {
    font-weight: 700;
    font-size: 0.85em;
}

.subsubWithoutMargin {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 0.85em;
}

.img {
    font-size: 0.85em;
}

.ref {
    margin: 0px;
    font-size: 0.8em;
}

.teksCenter {
    font-size: 0.8em;
    text-align: center;
}

.teksCenterWithoutMargin {
    margin: 0px;
    font-size: 0.8em;
    text-align: center;
}

.numbering0 {
    font-size: 0.85em;
}

.numbering1 {
    margin-left: 10px;
    font-size: 0.85em;
}

.numbering2 {
    margin-left: 20px;
    font-size: 0.85em;
}

.numbering3 {
    margin-left: 30px;
    font-size: 0.85em;
}

.numbering4 {
    margin-left: 40px;
    font-size: 0.85em;
}

.numbering5 {
    margin-left: 50px;
    font-size: 0.85em;
}

.numbering6 {
    margin-left: 60px;
    font-size: 0.85em;
}

.numbering0WithoutMargin {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.85em;
}

.numbering1WithoutMargin {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.85em;
}

.numbering2WithoutMargin {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.85em;
}

.numbering3WithoutMargin {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.85em;
}

.numbering4WithoutMargin {
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.85em;
}

.numbering5WithoutMargin {
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.85em;
}

.numbering6WithoutMargin {
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.85em;
}

/*#endregion Style Content*/

ion-modal {
    &.modalTermAndCond {
        --width: 85vw;
        --min-height: 40%;
        --max-height: 90%;
        --border-radius: 16px;
        --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

        ion-content {
            --background: var(--ion-color-meds-pink);
            --color: black;
        }
    }
}

// ion-alert {
//     &.alert-notification {
//         --min-width: 90vw; // calc(100% - 20px);
//         --border-spacing: 10px; // DELETE LATER
//         --letter-spacing: 10px; // DELETE LATER
//         --word-spacing: 10px; // DELETE LATER

//         // .alert-head {
//         //   min-height: 54.399vw;
//         //   background-image: url("../assets/images/img-14.png");
//         //   background-size: 100% 100%;
//         //   color: #fff;
//         // }

//         // .alert-message {
//         //   height: 0px;
//         //   padding: 0px;
//         // }

//         // .alert-button {
//         //   min-height: 50px;
//         //   color: var(--ion-color-hk-ppid);
//         // }
//     }
// }

// .globalMessage {
//     .alert-wrapper {
//         background: var(--ion-color-base-blue);
//         border-radius: 20px;
//         --max-width: 300px;
//         padding-top: 15px;
//         padding-bottom: 25px;

//         .alert-head {
//             padding-top: 0px;
//             padding-bottom: 0px;
//         }

//         .alert-message {
//             max-height: 290px;
//             text-align: center;

//             img {
//                 padding-bottom: 30px;
//             }

//             h3 {
//                 font-weight: bold;
//                 font-size: 16px;
//                 color: var(--ion-color-base-white);
//             }

//             p {
//                 font-weight: normal;
//                 font-size: 14px;
//                 color: var(--ion-color-base-white);
//             }
//         }

//         .alert-button-group {
//             flex-direction: column;
//             padding-left: 40px;
//             padding-right: 40px;

//             .alert-button {
//                 display: block;
//                 background: var(--ion-color-base-red);
//                 border-radius: 10px;
//                 color: white;
//                 text-align: center;
//                 margin: unset;
//                 margin-bottom: 10px;

//                 .alert-button-inner {
//                     text-align: center;
//                     justify-content: center;
//                 }
//             }
//         }
//     }
// }

// .my-update-app {
//     .alert-wrapper {
//         background: var(--ion-color-base-blue);
//         border-radius: 20px;
//         --max-width: 300px;
//         padding-top: 25px;
//         padding-bottom: 25px;

//         .alert-message {
//             max-height: 290px;
//             text-align: center;

//             img {
//                 padding-bottom: 30px;
//             }

//             h3 {
//                 font-weight: bold;
//                 font-size: 16px;
//                 color: white;
//                 margin: unset;
//                 margin-bottom: 8px;
//             }

//             p {
//                 font-weight: normal;
//                 font-size: 14px;
//                 color: white;
//                 margin: unset;
//                 white-space: pre-line;
//             }
//         }

//         .alert-button-group {
//             flex-direction: column;
//             padding-left: 40px;
//             padding-right: 40px;
//             padding-bottom: 0px;

//             .alert-button {
//                 display: block;
//                 background: var(--ion-color-base-yellow);
//                 border-radius: 10px;
//                 color: var(--ion-color-base-blue);
//                 text-align: center;
//                 margin: unset;
//                 margin-bottom: 10px;

//                 .alert-button-inner {
//                     text-align: center;
//                     justify-content: center;
//                 }
//             }

//             .alert-button.red {
//                 display: block;
//                 background: var(--ion-color-base-red);
//                 border-radius: 10px;
//                 color: var(--ion-color-base-white);
//                 text-align: center;
//                 margin: unset;
//                 margin-bottom: 10px;

//                 .alert-button-inner {
//                     text-align: center;
//                     justify-content: center;
//                 }
//             }

//             .alert-button.cancel {
//                 display: block;
//                 background: transparent;
//                 border-radius: 10px;
//                 padding-bottom: unset;
//                 color: white;
//                 text-align: center;
//                 margin: unset;
//                 margin-bottom: 0px;

//                 .alert-button-inner {
//                     text-align: center;
//                     justify-content: center;
//                 }
//             }
//         }
//     }

//     &.nohead {
//         .alert-head {
//             display: none;
//         }
//     }

//     &.modalqr {
//         .alert-message {
//             img {
//                 width: 89px;
//                 padding-bottom: 5px;
//             }
//         }
//     }
// }

.avatar-modal {
    background-color: var(--ion-color-meds-pink-two);
    display: flex;
    justify-content: center;

    .preview {
        width: 84px;
        height: 84px;
        border-radius: 50%;
        background: whitesmoke;
    }
}