<ion-content>
  <div class="flexContainer">
    <comp-header [title]="'Master Data'" [defaultHref]="defaultHref!"></comp-header>
    <div class="ion-text-center">
      <ion-item color="meds-pink" lines="none">{{title}}</ion-item>
    </div>
    <hr style="height: 16px;" class="ion-no-padding ion-no-margin">

    <div class="scrollYnew">
      <comp-create-edit-master [param]="param!" [defaultHref]="defaultHref!"></comp-create-edit-master>
    </div>

    <hr style="height: 20px;" class="ion-no-padding ion-no-margin">
  </div>
</ion-content>