<div class="flexContainer">
  <div class="ion-text-center" [class.focusSearch]="isFocusSearch">
    <ion-searchbar mode="ios" show-cancel-button="focus" placeholder="Search" style="padding: 0px 5%;"
      (ionInput)="searchInput($event)" (ionFocus)="searchFocus($event)" (ionCancel)="searchCancel($event)"
      (ionChange)="searchChange($event)" cancel-button-text="Batal" cancel-button-icon="trash"
      placeholder="Cari"></ion-searchbar>
  </div>

  <div *ngIf="isFocusSearch" class="scrollYnew">
    <div *ngIf="!isSearch" class="ion-padding"> <!--//style="padding: 0px 10%;" -->
      <ion-text class="sub">Pencarian Terakhir</ion-text>
      <div *ngFor="let x of lastSearch; index as i">
        <ion-item lines="none" color="light">
          <ion-icon aria-hidden="true" name="time" slot="start"></ion-icon>
          <ion-label>{{x.data}}</ion-label>
          <ion-icon aria-hidden="true" name="close" slot="end"></ion-icon>
        </ion-item>
      </div>
      <br>
      <ion-text class="sub">Mungkin Anda Cari</ion-text>
      <div *ngFor="let x of maySearch; index as i">
        <ion-item lines="none" color="light">
          <ion-icon aria-hidden="true" name="ellipse" slot="start" size="small"></ion-icon>
          <ion-label>{{x}}</ion-label>
          <ion-icon aria-hidden="true" name="close" slot="end"></ion-icon>
        </ion-item>
      </div>
    </div>
    <div *ngIf="isSearch">
      <ion-list [inset]="true" mode="ios">
        <ion-item *ngFor="let x of search" [button]="true" (click)="ToDetail(x)">
          <ion-label *ngIf="x.type == types.btn">
            <p color="meds-red">{{x.title}}</p>
            <p class="sub">{{x.parent_name}}</p>
          </ion-label>
          <ion-label *ngIf="x.type != types.btn">
            <p color="meds-red">{{x.data}}</p>
            <p class="sub">{{x.parent_name}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>